.dashboard-container {
    width: 95%;
    max-width: 1080px;
    margin: 0 auto;
}

.online-streams .card-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    
    color: #000000;
}

.online-streams .card-subtitle {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;

    color: #000000;
}

.rvsp-date {
        color: #000000;
}

.rvsp-link {
    color: #005C80;
}

.card-margin{
    margin: 30px;
}

a.streams-selector {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height */

    color: #000000;
}

a.streams-selector.active {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height */

    color: #000000;
}

.side-margin-small {
    margin-left: 20px;
    margin-right: 20px;
}