.online-priests .card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
    text-align: center;

    margin-top: 10px;
}

.slick-slide>div {
    display: flex;
    height: 100%;
}

.who-is-online {
    display: flex !important;
    height: 100%;
    justify-content: center;
  flex-direction: column;
}

.who-is-online .card-subtitle {
    margin-bottom: 29px;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}