.header.header-white {
    background: white;
    height: 120px;
}

.logo-image {
    margin: 0 auto;
    margin-top: 40px;
    width: 110px;
}

.logo-container {
text-align: center;
}

.welcome-of-the-day-opaque {
    color: rgba(255, 255, 255, 0.59);
}

.welcome-of-the-day {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
    color: white;
    margin-left: 35px;
}
