@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.App {
  text-align: left;
  font-family: 'Muli', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container-fluid {
  padding-top: 50px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.clear {
  clear: both;
}


/* CARD override*/
.card {
  border: 1px solid rgba(0,0,0,.5) !important;
}